# Default ignored files
/shelf/
/workspace.xml
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.WeatherForecast_App.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
